<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="/">
          <fa-icon [icon]="faBeer" class="fa-3x" style="margin-right: 0.5em;"> </fa-icon>
          ezMail
        </a>
      </mat-nav-list>
    </mat-toolbar>
    <mat-nav-list>
      <!-- TODO: responsive: menü schließt sich nicht, wenn ein router-link angeklickt wird!-->
      <a mat-list-item [routerLink]="[{ outlets: { primary: ['dashboard'], toolbar: ['dashboard'] } }]" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>Dashboard
      </a>
      <a mat-list-item [routerLink]="[{ outlets: { primary: ['user'], toolbar: ['user'] } }]" routerLinkActive="active">
        <mat-icon>person</mat-icon>Benutzer
      </a>
      <a mat-list-item [routerLink]="[{ outlets: { primary: ['settings'], toolbar: ['settings'] } }]" routerLinkActive="active">
        <mat-icon>settings</mat-icon>Einstellungen
      </a>
      <a mat-list-item [routerLink]="[{ outlets: { primary: ['mail-settings'], toolbar: ['mail-settings'] } }]" routerLinkActive="active">
        <mat-icon>email</mat-icon>Mail-Einstellungen
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <router-outlet name="toolbar"></router-outlet>
      <span class="fill-space"></span>
      <app-toolbar></app-toolbar>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
