<mat-toolbar color="primary">
  <button mat-icon-button type="button" (click)="sidenav.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport
    mode="over"
    (keydown.escape)="close('escape')"
  >
    <mat-nav-list>
      <mat-list-item href="#">Login</mat-list-item>
      <mat-list-item href="#">Logout</mat-list-item>
      <mat-list-item href="#"></mat-list-item>
      <mat-list-item href="#">Logout</mat-list-item>
      <mat-list-item href="#">Einstellungen</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fullscreen>
    hallo
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
