<h2>Verteilermail bearbeiten</h2>

<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" [errorMessage]="getErrorMessageForm1()">
    <form class="new-maillist" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Basisdaten</ng-template>
      <mat-form-field class="field">
        <input matInput type="text" placeholder="Name der Verteilermail" formControlName="verteilerName" required />
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput type="email" placeholder="Verteilermail" formControlName="verteilerMail" required />
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
