<div class="edit">
  <table>
    <tr>
      <td>Erstellt am:</td>
      <td>{{ timeCreated }}</td>
    </tr>
    <tr>
      <td>Geändert am:</td>
      <td>{{ timeModified }}</td>
    </tr>
  </table>

  <form class="edit-entry" [formGroup]="formGroup">
    <mat-form-field class="field">
      <input matInput type="text" placeholder="Name der Verteilermail" formControlName="verteilerName" required />
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput type="email" placeholder="Verteilermail" formControlName="verteilerMail" required />
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput type="email" placeholder="Eigentümer" formControlName="eigentuemer" required />
    </mat-form-field>
    <mat-form-field class="field">
      <mat-chip-list #chipList matTooltip="Adresse eingeben und mit Enter oder Leertaste bestätigen" required>
        <mat-chip *ngFor="let mail of mails" (removed)="remove(mail)">
          {{ mail }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Adressen"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)"
          required
        />
      </mat-chip-list>
    </mat-form-field>
    <table>
      <tr>
        <td>Private Liste</td>
        <td><mat-slide-toggle formControlName="privateListe"></mat-slide-toggle></td>
      </tr>
      <tr>
        <td>Moderierte Liste</td>
        <td><mat-slide-toggle formControlName="moderierteListe"></mat-slide-toggle></td>
      </tr>
    </table>

    <div class="buttons">
      <button mat-raised-button color="primary" (click)="save()" [disabled]="!formGroup.valid">Speichern</button>
      <button mat-raised-button (click)="abort()">Abbrechen</button>
    </div>
    <div *ngIf="!formGroup.valid" class="warn">Die Daten sind nicht korrekt</div>
  </form>
</div>
